<nav>
    <div>
        <h1>Ravish Kumar</h1>
        <p>This is an entrepreneural site</p>
    </div>  

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>