<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')  %> 

<body>
    
    <%- include('./partials/navbar.ejs')  %> 

    <div>
        <h2>About</h2>
        <p>Scroll down to know more about us.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, necessitatibus doloribus numquam recusandae quisquam deserunt beatae delectus blanditiis harum dignissimos ut sapiente odio eveniet iste facere iusto, ratione omnis porro, ea consequatur. Odit illum alias nam nesciunt praesentium animi sapiente inventore quis natus reprehenderit blanditiis, soluta aliquam dolores dignissimos libero iste ea numquam iure doloremque quae atque possimus repellendus rem?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, necessitatibus doloribus numquam recusandae quisquam deserunt beatae delectus blanditiis harum dignissimos ut sapiente odio eveniet iste facere iusto, ratione omnis porro, ea consequatur. Odit illum alias nam nesciunt praesentium animi sapiente inventore quis natus reprehenderit blanditiis, soluta aliquam dolores dignissimos libero iste ea numquam iure doloremque quae atque possimus repellendus rem?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, necessitatibus doloribus numquam recusandae quisquam deserunt beatae delectus blanditiis harum dignissimos ut sapiente odio eveniet iste facere iusto, ratione omnis porro, ea consequatur. Odit illum alias nam nesciunt praesentium animi sapiente inventore quis natus reprehenderit blanditiis, soluta aliquam dolores dignissimos libero iste ea numquam iure doloremque quae atque possimus repellendus rem?</p>
    </div>

    <%- include('./partials/footer.ejs')  %> 
</body>
</html>